<div class="closestBox">
  
<p>


</p>
<label for="lat">Lat</label><br>
<input id="lat" class="form-control" [(ngModel)]="lat" type="text"><br>

<label for="Long">Long</label><br>
<input id="long" class="form-control" [(ngModel)]="long" type="text"><br>

<button (click)="toggleCollapse()" class="btn btn-primary"> Show Closest</button>

<div *ngIf="!isCollapsed">

<table class="table">
    <thead>
        <th *ngFor = "let column of headers">
            {{column}}
          </th>
    </thead>
    <tbody>
        <tr *ngFor = "let row of lz">
            <td *ngFor = "let column of headers">
              {{row[column]}}
            </td>
          </tr>
    </tbody>
  </table>
</div>


</div>