<div class="closestBox"> 
<label for="lat">Lat</label><br>
<input id="lat" class="form-control" [(ngModel)]="lat" type="text"><br>

<label for="Long">Long</label><br>
<input id="long" class="form-control" [(ngModel)]="long" type="text"><br>

<button (click)="toggleCollapse()" class="btn btn-primary"> Show Closest</button>

<div *ngIf="!isCollapsed">

<table class="table">
    <thead>
        <th *ngFor = "let column of headers">
            {{column}}
          </th>
    </thead>
    <tbody>
        <tr>
            <td *ngFor = "let column of headers">
              {{lz[closest+1][column]}}
            </td>
          </tr>
    </tbody>
  </table>
  <p>
    Distance: {{closestDist}} Miles
  
  </p>
</div>



</div>