<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Elevation (ft)</th>
        <th scope="col">SlopeRoll</th>
        <th scope="col">SlopePitch</th>
        <th scope="col">Lat</th>
        <th scope="col">Long</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Big Stamp</td>
        <td>3175</td>
        <td>9</td>
        <td>5</td>
        <td>34.747333</td>
        <td>-84.071333</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Chestnut</td>
        <td>3000</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>34.769100,</td>
        <td>-84.017650</td>
      </tr>
    </tbody>
  </table>